<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-photo-browser" version="1.0.0" xmlns="http://cordova.apache.org/ns/plugins/1.0">
  <name>PhotoBrowserPlugin</name>
  <author>James Kong</author>
  <description>Universal Photo browser to Cordova.</description>
  <dependency id="cordova-plugin-cocoapod-support" version="~1.3.0"/>
  <js-module name="PhotoBrowserPlugin" src="www/photo-browser.js">
    <clobbers target="plugins.PhotoBrowserPlugin"/>
  </js-module>
  <!-- ios -->
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="PhotoBrowserPlugin">
        <param name="ios-package" value="PhotoBrowserPlugin"/>
      </feature>
    </config-file>
    <header-file src="src/ios/PhotoBrowserPlugin.h"/>
    <source-file src="src/ios/PhotoBrowserPlugin.m"/>
    <header-file src="src/ios/TextInputViewController.h"/>
    <source-file src="src/ios/TextInputViewController.m"/>
    <pod branch="develop" git="https://github.com/nixplay/MWPhotoBrowser" name="MWPhotoBrowser"/>
    <pod name="SDWebImage" version="4.0.0"/>
    <pod branch="master" git="https://github.com/nixplay/MKActionSheet" name="MKActionSheet"/>
    <pod name="PopupDialog" version="0.5.4"/>
    <pod name="IQKeyboardManager"/>
    <pod name="MBProgressHUD"/>
    <pod name="IQKeyboardManager"/>
    <resource-file src="src/ios/PhotoBrowserPlugin.bundle"/>
    <resource-file src="src/ios/TextInputViewController.xib"/>
  </platform>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="PhotoBrowserPlugin">
        <param name="android-package" value="com.creedon.cordova.plugin.photobrowser.PhotoBrowserPlugin"/>
        
      </feature>
    </config-file>
    <source-file src="src/android/PhotoBrowserPlugin.java" target-dir="src/com/creedon/cordova/plugin/photobrowser"/>
    <source-file src="src/android/PhotoBrowserPluginActivity.java" target-dir="src/com/creedon/cordova/plugin/photobrowser"/>
    <framework src="com.github.fishkingsin:androidphotobrowser:0.0.2"/>
  </platform>
</plugin>